## Estructura de datos, programacion estructurada y funciones
- ""Autor"": Vannia Berrios
- ""Fecha"": 23/12/2024

In [2]:
milista1 = [1,2,3,4,5]
milista1

[1, 2, 3, 4, 5]

In [3]:
milista1[0]

1

In [4]:
milista1[4]

5

In [5]:
milista1[3]

4

In [6]:
milista1[-3]

3

In [7]:
milista2 = [5,2,3,4,1]
milista2

[5, 2, 3, 4, 1]

In [8]:
milista2.append(7)

In [9]:
milista2

[5, 2, 3, 4, 1, 7]

In [ ]:
# slicing
milista2[Inicio(inclusive):final(noincluido):paso]
# Si el inicio no se especifica por defecto es 0
# Si el final no se especifica por defecto es el ultimo elemento
# Si el paso no se especifica por defecto es 1

In [24]:
milista2[0:2:1]

[5]

In [28]:
milista2[:2:]

[5]

In [29]:
milista2[1:3]

[]

In [30]:
milista3 = ["pera","uva","manzana","pera","platano"]
milista3

['pera', 'uva', 'manzana', 'pera', 'platano']

In [31]:
milista3.count("pera")

2

In [32]:
milista3.count("papaya")

0

In [33]:
milista3.count("uva")

1

In [34]:
milista3[4] = "papaya"
milista3

['pera', 'uva', 'manzana', 'pera', 'papaya']

In [35]:
milista4 = list((3,4,5))
milista4

[3, 4, 5]

In [36]:
midict1 = {"age":22,"name":"Diana"}
midict1

{'age': 22, 'name': 'Diana'}

In [37]:
midict1["age"]

22

In [38]:
midict1["name"]

'Diana'

In [39]:
midict1["last_name"]

KeyError: 'last_name'

In [40]:
midict1.get("last_name","no_key")

'no_key'

In [41]:
midict1.keys()

dict_keys(['age', 'name'])

In [42]:
midict1.values()

dict_values([22, 'Diana'])

In [47]:
midict2 = {"age":22,"name":"Eve","age":24}
midict2

{'age': 24, 'name': 'Eve'}

In [48]:
midict2["age"] = 23
midict2

{'age': 23, 'name': 'Eve'}

In [49]:
midict2.items()

dict_items([('age', 23), ('name', 'Eve')])

In [50]:
var1 = 3
str(var1)

'3'

In [51]:
type(var1)

int

In [52]:
var1

3

In [53]:
len(midict1)

2

In [57]:
range(3) # Contiene 0,1,2,3

range(0, 3)

In [58]:
var2 = range(1,5)
var2

range(1, 5)

In [59]:
lista1 = ["Diana","Eve","Alan"]
lista2 = [22,23,25]
iterable1 = zip(lista1,lista2)
iterable1

In [68]:
iterable2 = list(iterable1)
iterable2

[]

In [69]:
print("Hello")
print("Goodbye")
print("Gone")

Hello
Goodbye
Gone

In [72]:
if "ciruela" in milista3:
    print("la ciruela esta en la lista")
else:
    print("la ciruela no esta en la lista")

la ciruela no esta en la lista

In [75]:
if 3<2:
    print("tres es menor que dos")
elif 3==2:
    print("tres es igual a dos")
else:
    print("tres es mayor a dos")

tres es mayor a dos

In [76]:
if 7 in milista2:
    if 4 in milista2:
        print("el siete y el cuatro estan en la lista")
    else:
        print("solo el siete esta en la lista")
else:
    print("el siete no esta en la lista")

el siete no esta en la lista

In [77]:
for i in milista3:
    print(i)

pera
uva
manzana
pera
papaya

In [78]:
for fruta in milista3:
    if fruta !="uva":
        print(fruta)

pera
manzana
pera
papaya

In [82]:
def function1():
    print("Hello World")

In [83]:
function1()

Hello World

In [86]:
def function2(name):
    print(f"Hello {name}")

In [87]:
function2("Peter")

Hello Peter

In [88]:
def square(x):
    return x*x

In [89]:
square(3)

9

El numero Pi es un numero irracional que aproximadamente equivale a 3.14159..., para calcularlo podemos utilizar la formula de Leibni que es Pi = 4*(1-1/3+1/5-1/7+1/9-...) Calcularemos este valor utilizando Python

In [90]:
def calculate_pi(iterations):
    mipi = 0
    numerator = 1
    denominator = 1
    for k in range(iterations):
        mipi = mipi + numerator/denominator
        numerator = numerator * -1
        denominator = denominator + 2
    return 4*mipi

In [91]:
calculate_pi(1)

4.0

In [92]:
calculate_pi(10)

3.0418396189294032

In [93]:
calculate_pi(10000)

3.1414926535900345

In [94]:
calculate_pi(100000)

3.1415826535897198